<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>573751325428-uua9g6k2lhgm6r26jhdd0e8eihh0qkid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573751325428-uua9g6k2lhgm6r26jhdd0e8eihh0qkid</string>
	<key>API_KEY</key>
	<string>AIzaSyCERWa8B8PYIt-8we_CgWR9XGuYAbJCGC0</string>
	<key>GCM_SENDER_ID</key>
	<string>573751325428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cynny.videoface</string>
	<key>PROJECT_ID</key>
	<string>videoface-b2b04</string>
	<key>STORAGE_BUCKET</key>
	<string>videoface-b2b04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573751325428:ios:b55390f5b57ca82c</string>
	<key>DATABASE_URL</key>
	<string>https://videoface-b2b04.firebaseio.com</string>
</dict>
</plist>